body {
    margin: 0px;
}

.topnav {
    overflow: hidden;
    background-color: #070413;
}

.topnav a {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.topnav a:hover {
    background-color: #6356B5;
    color: white;
}

.topnav a.active {
    background-color: #4F455C;
}

.header {
    overflow: hidden;
    background-color: #070413;
    text-align: center;
    font-weight: 800;
    font-size: 50px;
    color: white;
    height: 100px;
    margin-bottom: 30px;
}

div.header > span {
    display: block;
    padding: 13px 16px;
}