body {
    margin: 0px;
}

.topnav {
    overflow: hidden;
    background-color: #070413;
}

.topnav a {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.topnav a:hover {
    background-color: #6356B5;
    color: white;
}

.topnav a.active {
    background-color: #4F455C;
}